.main-text {
  font-size: 16px;
  padding: 0 2px;
  /* color: #000000; */
}

.main-text.extra-big {
  font-size: 48px !important;
}

.main-text.big {
  font-size: 40px !important;
}

.main-text.medium {
  font-size: 28px !important;
}

.main-text.small {
  font-size: 18px !important;
}

.main-text.extra-small {
  font-size: 14px !important;
}

/* Text bold */

.text-bold .main-text {
  font-weight: bold;
  opacity: 1;
}

/* Text Light  */

.text-light .main-text {
  font-weight: 100;
  /* line-height: 3.3rem; */
  opacity: 0.8;
  font-family: "WorkSans-Light";
}

.text-normal .main-text {
  opacity: 1;
  font-weight: normal;
}

.text-uppercase {
  text-transform: uppercase !important;
}
