* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "H", "Trebuchet MS", Helvetica;
  background-color: #f7f7f8;
  color: #000000;
}

@font-face {
  font-family: "WorkSans-Light";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/work-sans-light.ttf"); /* IE9 Compat Modes */
}
