.owner-main {
  position: relative;
  /* overflow: hidden; */
  margin: 0;
}
.owner-main img {
  /* width: 50%; */
  border-radius: 100%;
  /* box-shadow: 0px 23px 36px -30px rgba(89, 89, 89, 1); */
  -webkit-box-shadow: 0px 11px 79px -21px rgba(102, 100, 102, 1);
  -moz-box-shadow: 0px 11px 79px -21px rgba(102, 100, 102, 1);
  box-shadow: 0px 11px 79px -21px rgba(102, 100, 102, 1);
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  /* min-width: 1000%;
  min-height: 1000%; */
  transform: scale(0.2);
}

@media only screen and (max-width: 1100px) {
  .owner-main {
    padding: 20px;
  }

  .owner-main img {
    /* margin-top: 10px; */
    transform: scale(0.1);
  }
}

/* @media only screen and (max-width: 500px) {
  .owner-main img {
    transform: scale(0.1);
  } */
/* } */
