.drawings-main {
  display: flex;
}

.drawings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  border-radius: 0 0 0 40%;
  opacity: 0.8;
}

.drawings .title {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.drawings .description {
  width: 80vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.mini-drawings {
  position: absolute;
  width: 100vw;
  height: 50vh;
  border-radius: 0 0 0 10%;
  opacity: 0.6;
  z-index: -1;
}
