.drawings-main {
  display: flex;
}

.drawings {
  position: absolute;
  width: 100vw;
  height: 100px;
  border-radius: 0 0 0 100%;
  opacity: 0.9;
}

.mini-drawings {
  position: absolute;
  width: 100vw;
  height: 50px;
  border-radius: 0 0 0 100%;
  opacity: 1;
}