.header-main {
  position: static;
  /* width: 100vw;
  height: 100px; */
}

.header-container {
  display: flex;
  opacity: 1;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
}

.header-main .navbar {
  width: 83.4vw;
  display: flex;
  justify-content: space-between;
}

.header-main .navbar .col:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main .navbar .col:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-main .title {
  /* padding: 0 15px; */
}

.header-main .links {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}
