.header-main {
  position: static;
  /* width: 100vw;
  height: 100px; */
}

.header-main .default-class {
  background: transparent;
  transition-duration: 200ms;
  transition-property: background;
}

.header-main .default-class-background {
  background: rgba(103, 71, 199, 1);
  transition-duration: 200ms;
  transition-property: background;
  -webkit-box-shadow: 0px 31px 64px -34px rgba(103, 71, 199, 1);
  -moz-box-shadow: 0px 31px 64px -34px rgba(103, 71, 199, 1);
  box-shadow: 0px 31px 64px -34px rgba(103, 71, 199, 1);
}

.header-main .scrolling-class {
  background: rgba(103, 71, 199, 0.85);
  transition-duration: 500ms;
  transition-property: background;
}

.header-container {
  display: flex;
  opacity: 1;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
}

.header-main .navbar {
  width: 83.4vw;
  display: flex;
  justify-content: space-between;
}

.header-main .navbar .col:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main .navbar .col:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-main .title {
  /* padding: 0 15px; */
}

.header-main .links {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}

/* MEDIA MOBILE  */

@media only screen and (max-width: 1138px) {
  .header-main .brand {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .header-main .locale {
    display: none !important;
  }

  /* .header-main .header-links {
    height: 100%;
  } */
}
