.big-cards-main {
  width: 100vw;
  margin: 0 0 5rem 0;
}

.big-cards-main .container {
  position: static;
  min-height: 60vh;
  background-color: #fff;
  position: relative;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 0px 44px -29px rgba(82, 82, 82, 1);
  -moz-box-shadow: 0px 0px 44px -29px rgba(82, 82, 82, 1);
  box-shadow: 0px 0px 44px -29px rgba(82, 82, 82, 1);
  border: 0 solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .big-cards-main .container {
    min-height: 0;
  }
}

@media only screen and (max-width: 800px) {
  .big-cards-main .container {
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }

  .big-cards-main .container .left-side {
    width: 100% !important;
  }

  .big-cards-main .container .left-side .post {
    align-items: center;
  }

  .big-cards-main .container .rigth-side {
    display: flex;
    justify-content: center;
  }

  .big-cards-main .container .rigth-side img {
    order: none !important;
    /* border-radius: 100%; */
    position: inherit !important;
    left: inherit !important;
    right: inherit !important;
    top: inherit !important;
    bottom: inherit !important;
    margin: auto auto !important;
    min-width: inherit !important;
    min-height: inherit !important;
    -webkit-transform: inherit !important;
    transform: inherit !important;
    max-width: 50vw !important;
  }
}

.big-cards-main .container:hover {
  -webkit-box-shadow: 0px 0px 34px -29px rgba(82, 82, 82, 1);
  -moz-box-shadow: 0px 0px 34px -29px rgba(82, 82, 82, 1);
  box-shadow: 0px 0px 34px -29px rgba(82, 82, 82, 1);
  cursor: pointer;
}

.big-cards-main .container .left-side {
  width: 90%;
  /* border: 1px solid black; */
}

.big-cards-main .container .left-side .post {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.big-cards-main .container .left-side .post .main-text {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-cards-main .container .rigth-side {
  position: relative;
  overflow: hidden;
  width: 110%;
  margin: 0;
}

.big-cards-main .container .rigth-side img {
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  min-width: 1000%;
  min-height: 1000%;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
